.scraperHeader {
  background-color: #282c34;
  padding: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scraperHeader h1 {
  font-size: 2.8rem;
}

.scraperHeader input {
  border: none;
  padding: 12px 20px;
  margin: 10px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;
}
.scraperHeader button {
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(120, 71, 139);
  color: #ffffff;
}

.scraperHeader button:hover {
  background-color: rgb(98, 58, 114);
}

.loading-indicator {
  width: 100%;
  height: 60vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 247, 247);
}

.loading-indicator img {
  width: 20%;
  margin: auto;
}

.article-scraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #2e2e2e;
  min-height: 100vh;
  color: #ffffff;
}

.article-scraper p {
  color: #ff4d4f;
  font-size: 1rem;
  margin-top: 1rem;
}

.no-articles {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}
.result {
  text-align: center;
  color: #282c34;
}

.no-articles img {
  width: 30%;
}

.no-articles h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #282c34;
}
