.article-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 800px;
  padding: 1rem;
  border-radius: 8px;
}

.article {
  padding: 1rem 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.article:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.article .author,
.article .article-date {
  display: flex;
  align-items: center;
}

.article .article-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.article .date-readmore {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article .author h3,
.article .article-date h3 {
  padding: 0 !important;
}

.article .author p,
.article .article-date p {
  margin-left: 10px;
  padding: 0;
}
p {
  padding: 0;
}

.article .date-readmore button {
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(120, 71, 139);
  color: #ffffff;
}

.article .date-readmore button:hover {
  background-color: rgb(98, 58, 114);
}

@media screen and (max-width: 480px) {
  .article {
    padding: 10px 20px;
  }
  .article .article-title {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .article .author h3,
  .article .article-date h3 {
    font-size: 15px;
    margin: 0px;
  }
  .article .author p,
  .article .article-date p {
    font-size: 15px;
    margin: 0 0 0 10px;
  }
}

@media screen and (max-width: 397px) {
  .article .article-title {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
